/* font? */
.logo{
    width: 300px;
    margin: 20px;
}
h3{
    margin-left: 20px;
}
.AdminForm input{
    border: none;
    border-radius: 0;
    border-bottom: black 1px solid;
}
.bg-paars{
    color: white;
    background-color: #8F88FD;
}
.bg-rood{
    background-color: #FD6555;
}
.row div{
    height: 35px;
}
a{
    color: black;
    font-weight: bold;
    font-size: 24pt;
    text-decoration: none;
}
.gebruikers{
    color: #FD6555;
}
.admin:hover{
    color: #FD6555;
}
.gebruikers:hover{
    color: #FD6555;
}
.algemeen:hover{
    color: #8F88FD;
}