.logo{
    width: 300px;
    margin: 20px;
}
.bg-paars{
    color: white;
    background-color: #8F88FD;
}
.bg-rood{
    background-color: #FD6555;
}
.row div{
    height: 35px;
}
.bg-zwart{
    background-color: black;
}
.dashboardH1{
    float: right;
    margin: 25px;
}
.algemeen{
    color: #8F88FD;
}
a{
    color: black;
    font-weight: bold;
    font-size: 24pt;
    text-decoration: none;
}
.admin:hover{
    color: #FD6555;
}
.gebruikers:hover{
    color: #FD6555;
}
.algemeen:hover{
    color: #8F88FD;
}
