* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

img.logo {
    width: 570px; /* Pas de grootte aan indien nodig */
    margin-top: 20px;
}

.qr-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qr-container img {
    width: 200px; /* Pas de grootte aan voor de QR-code */
    height: auto;
}

.qr-container .text {
    font-size: 28px; /* Kleine tekst */
    color: #333;
}

.cta-btn {
    padding: 15px 30px;
    background-color: #8F88FD;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
}
.cta-btn:hover {
    background-color: #4d4896;
}
.kleur-balkje {
    width: 300px;
    height: 50px;
    background-color: #FD6555;
    position: absolute;
    top: 30%;
    right: 0;
}
/* Responsiveness */
@media (max-width: 768px) {
    img.logo {
        margin-top: 44%;
        width: 330px; /* Verklein logo op kleinere schermen */
    }

    .qr-container img {
        width: 60px;
        margin-left: 500px;
    }

    .qr-container .text {
        font-size: 10px;
    }
    .kleur-balkje{
        top: 10%;
        height: 40px;
        width: 200px;
    }
    .qr-container {
        display: none;
    }
    body{
        justify-content: space-around;
    }
}